@import 'config';
@import 'menu';


* {
    box-sizing: border-box;
}
body {
    @include background;
    background: $test-image;
    color: set-text-color($primary-color);
    height: 100%;;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    
}

// Headings

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem ;
    }

    &.sm-heading {
        margin-bottom: 1rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.2);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4.2rem;
    // height: 100%;
    min-height: calc(100vh - 60px);
    .stack {
            font-size: 2.4rem;
        }

    .icons {
        margin-top: 1rem;

        
    
        a {
            padding: 0.4rem;
            

            &:hover {
                color: $secondary-color;
                @include easeOut()
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

.about-info {
    display: grid;
    gap: 70px 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3,  1fr);
    padding: .5em;
    
    .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
    width: 240px;
    height: 240px;
}

    .bio {
        grid-area: bio;
        font-size: 1.3rem;
    }

    .job-1 {
        grid-area: job1;
    }

    .job-2 {
        grid-area: job2;
      
    }

    .job-3 {
        grid-area: job3;
       
    }
    
    .company {
        text-align: center;
        text-decoration: underline;
    }
    .company-logo {
       width: 100px;
       height: 100px;
       border-radius: 50px;
       margin-top: -21%;
       border: solid ;
              &:hover {
               transform: translateY(-5px);
               transition: .3all;

           }
      }

    .position {
           text-align: center; 
           margin: .3em;
           color: $secondary-color;
           background-color: #515430;
 
        }
    .job {
        background: $test-image;
        padding: .8rem;
        border-bottom: $secondary-color 25px solid;
    }
   
    @include bullets;
}

// WORK// Projects
.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3,1fr);
   
    
    
    .item {
       @include eachCard
    }
    
    img {
        @include card-img;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
        
    }
    @include bullets;
}

.show-more {
            margin-bottom: 1rem;
        }
//Contact Page


.form-container {
    display: flex;
	align-items: center;
	justify-content: center;
    margin: 50px 30px;
   
}
.contact-form {
    border-radius: 5px;
    box-shadow: 10px 10px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
	width: 400px;
    max-width: 100%;
    border: solid rgba(152, 159, 152, 0.194)
    
}
.form-header {
	border-bottom: 1px solid #f0f0f0;
	// background-color: $test-image;
	padding: 20px 40px;
}
.form-header h2 {
	margin: 0;
}


form {
  padding:2em;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}
.form-control label {
	display: inline-block;
	margin-bottom: 4px;
}

.form-control input, textarea {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
    width: 100%;
    resize: vertical;
}



.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input  {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}
.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}
.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}
.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}
.form-control.error small {
	visibility: visible;
}

/* Submit Button */
input[type='submit'] {
   
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}

   
input[type='submit']:hover {background-color:darken(gray,5%);}


//Button Styles 

.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover {
        background: $secondary-color;
        color: set-text-color
        ($secondary-color);

    }
}

//Blogs

.blogs {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);
    
}
.blog-card {
    position: relative;
    @include eachCard;
  
}

.blog__topImg {
    @include card-img;
 
}

.blog-title {
    margin-bottom: .8em;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.blog-date {
  position: absolute;
  top: -25px;
  right: 0px;
  color: black;
  background-color: rgba(255, 255, 255, 0.571)
}



.btn-dark {
    @extend .btn;
    background: darken($primary-color,50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color,50);
    color: #333;
}

.blog-button {
    float: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 1pxnn;
    margin-top: 3em;
    background-color: rgba(255, 255, 255, 0.571);
  
    
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'mobile';